*{
    margin:0;
    padding:0;
}

body{
    background:#eeeeee;
}

.tm-container{
    max-width:1200px;
    margin: 0 auto;
    
}

.tm-header{
 background: #fff;
    
}

.tm-nav{
   
}

.tm-nav ul li{
   display: inline-block;
}
.tm-nav ul li a{
    
    text-decoration: :none;
    padding: 10px 20px;
    color:#303030;
    
}